<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Alarm Pi ON {{.Url}}</title>
    <!-- Bootstrap core CSS -->
    <link href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <!-- Bootstrap core JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="/">Alarm Pi</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/rob121/alarmpi">Github</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
{{ $pin := .Pin}}
<div class="container-fluid">
    <div class="row flex-xl-nowrap">
        <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content" role="main">
            <h1 class="bd-title" id="content">{{if $pin.Name}}Device:{{$pin.Label}}{{else}}New Device{{end}} </h1>

            <form action="/save" method="POST">

    <div class="form-group">
        <input class="form-control" value="{{$pin.Label}}" placeholder="Label" name="Label" type="text" />
    </div>

    <div class="form-group">
        <select class="form-control" name="Device" >
            {{ range $v := .Attributes.Devices }}
            <option {{if (eq $pin.Device $v)}}selected{{end}} value="{{$v}}" >{{$v}}</option>
            {{end}}
        </select>
    </div>

    <div class="form-group">
        <select class="form-control" name="Name" >
            {{ range $v := .Attributes.Pins }}
            <option {{if (eq $pin.Name $v)}}selected{{end}} value="{{$v}}" >{{$v}}</option>
            {{end}}
        </select>
    </div>



    <div class="form-group">
        <select class="form-control" name="ActionType" >
            {{ range $v := .Attributes.Types }}
            <option {{if (eq $pin.ActionType $v)}}selected{{end}} value="{{$v}}" >{{$v}}</option>
            {{end}}
        </select>
    </div>

    <div class="form-group">
        <input class="form-control" value="{{$pin.OnOpen}}" placeholder="On Open" name="OnOpen" type="text" />
    </div>

    <div class="form-group">
        <input class="form-control" value="{{$pin.OnClose}}" placeholder = "On Close" name="OnClose" type="text" />
    </div>

                <a href="/" class="btn btn-info" >Cancel</a>
                <button class="btn btn-primary">Submit</button>
            </form>


    </main>
</div>
</div>
</body>
</html>